@import "../../global.scss";

.topbar {
  width: 100%;
  height: 70px;
  background-color: #222831;
  color: #bdbcbc;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        .logo {
          margin-top: 5px;
          font-size: 40px;
          font-weight: 700;
          text-decoration: none;
          color: inherit;
          margin-right: 40px;
          cursor: pointer;
        }

        .icon {
          font-size: 18px;
          margin-right: 5px;
        }

        span {
          font-size: 15px;
          font-weight: 500;
        }

        .logo {
          @include mobile {
          }
        }

        .icon {
          @include mobile {
            display: none;
          }
        }

        span {
          @include mobile {
            display: none;
          }
        }

        @include table {
          display: block;
        }
      }
    }

    .right {
      body.dark {
        background: #292c35;
      }

      .checkbox {
        opacity: 0;
      }

      .label {
        overflow: hidden;
        background-color: #111;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        position: absolute;
        height: 20px;
        width: 80px;
        transform: scale(1.5);
        margin-top: -1.1%;
        margin-left: -34%;

        @include mobile {
          height: 12px;
          width: 66px;
          margin-top: -1.8%;
          margin-left: -41%;
        }

        @include table {
          margin-left: -45%;
        }
      }

      .label .ball {
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        left: 2px;
        height: 22px;
        width: 23px;
        transform: translateX(3px);
        transition: transform 2s ease;
      }

      .checkbox:checked + .label .ball {
        transform: translateX(58px);

        @include mobile {
          transform: translateX(44px);
        }
      }

      .fa-moon {
        color: #f1c40f;
      }

      .fa-sun {
        color: #f39c12;
      }

      .hamburger {
        overflow-y: hidden;
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin-top: -40%;

        @include mobile {
          margin-top: -25%;
        }

        @include table {
          margin-top: -50%;
        }

        span {
          width: 100%;
          height: 3px;
          background-color: #d8d8e3;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: #d8d8e3;

    .hamburger {
      overflow-y: hidden;
      span {
        &:first-child {
          background-color: #d8d8e3;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: #d8d8e3;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
