@import "../../global.scss";

* {
  transition: all 2s ease;
}

.darkContact {
  background-color: #1d1f23;
}

.darktext {
  color: white !important;
}

.darkForm {
  border-color: white !important;
}

.hidden {
  display: none;
}

.contact {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  @include table {
    flex-direction: row;
  }

  .left {
    background-color: white;
    flex: 0.5;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    align-items: center;

    @include mobile {
      margin-bottom: 10%;
    }

    img {
      margin-top: 100px;
      height: 80%;

      @include mobile {
        margin-top: 0px;
        height: 80%;
      }
    }
  }

  .right {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      color: black;
      font-size: 30px;

      @include mobile {
        margin-top: -20%;
      }
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border: dashed;
      border-width: 2px 4px;
      border-radius: 40px;

      @include mobile {
        padding-top: 50px;
        height: 100%;
      }

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 20px;
        }
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 100px;
        }
      }

      button {
        width: 150px;
        height: 30px;
        color: black;
        background-color: #bdbcbc;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
      span {
        color: green;
      }
    }
  }
}
