@import "../../global.scss";

* {
  transition: all 2s ease;
}

.darkIntro {
  background-color: #393e46;
}

.darkText {
  color: white;
}

.intro {
  overflow: hidden;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  @include table {
    flex-direction: row;
    align-items: normal;
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      overflow: hidden;
      width: 700px;
      height: 700px;
      background-color: #d8d8e3;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;

      @include mobile {
        align-items: flex-start;
      }

      @include table {
        width: 350px;
        height: 280px;
        align-items: flex-end;
      }

      img {
        height: 70%;
        transform: scale(1.9);

        @include mobile {
          transform: scale(1.2);
        }

        @include table {
          transform: scale(1.5);
          height: 90%;
        }
      }
    }
  }
  .right {
    overflow: hidden;
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
        height: 70%;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;

        @include mobile {
          font-size: 20px;
        }

        span {
          font-size: inherit;
        }

        .ityped-cursor {
          animation: blick 1s infinite;
        }

        @keyframes blick {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      img {
        width: 80px;
        animation: arrowBlink 2s infinite;

        @include mobile {
          margin-bottom: 80%;
          transform: translate(-10px, 0px);
        }
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
