.app {
  height: 100vh;
  overflow-y: hidden;

  .sections {
    width: 100%;
    height: 100%;
    background-color: lightsalmon;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: 100%;
    }
  }
}
