$mainColor: #2a2438;

$width: 768px;
$widthTable: 720px;
$height: 450px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin table {
  @media (max-height: #{$height}) {
    @content;
  }
}
